*.orig
*.o
*.swp
*.swo
*~
.*.cmd
*.ko
*.symvers
*.order
*.mod.c
.tmp_versions
*_pp.ac
*_pp_inferred*
*.pyc
ENV
cogent/.cabal-sandbox
cogent/.stack-work
cogent/cabal.sandbox.config
cogent/cabal.config
cogent/dist
cogent/dist-newstyle
cogent/tests/*.c
cogent/tests/*.h
cogent/tests/*.tmp
cogent/out/
isa-parser/.cabal-sandbox
isa-parser/.stack-work
isa-parser/cabal.sandbox.config
isa-parser/dist
.DS_Store
impl/fs/bilby/cogent/abstract/*.h
impl/fs/bilby/cogent/generated.[ch]
impl/fs/bilby/cogent/plat/verification/*.thy
impl/fs/bilby/cogent/plat/verification/bilbyfs.[ch]
impl/fs/bilby/cogent/plat/linux/bilbyfs.[ch]
BUILD_INFO
TypeProofTactic.log
umm_types.txt
generated.*
*_flymake.hs
cogent/examples/inprogress/
impl/fs/vfat/vfat_test/
impl/fs/vfat_orig/
impl/fs/vfat/cogent/misc/
.cache.mk
cogent/scripts/*.dat
cogent/scripts/*.png

# Testing
cogent/tests/dist

# Documentation
docs/.vscode/
docs/_build/
docs/assets/
docs/doctrees/
docs/html/
docs/pseudoxml/

cogent/scripts/*.dat
cogent/scripts/*.png

# LLVM
*.ll
*.bc
