[submodule "l4v"]
	path = l4v
	url = https://github.com/seL4/l4v.git
[submodule "isabelle"]
	path = isabelle
	url = https://github.com/seL4/isabelle.git
[submodule "z3"]
	path = z3
	url = https://github.com/Z3Prover/z3.git
[submodule "OneTuple"]
	path = OneTuple
	url = https://github.com/phadej/OneTuple.git
