*.o
*.swp
*.swo
*~
.*.cmd
*.ko
*.symvers
*.order
*.mod.c
.tmp_versions
*_pp.ac
*_pp_inferred*
*.pyc
ENV
cogent/.cabal-sandbox
cogent/cabal.sandbox.config
cogent/cabal.config
cogent/dist
cogent/tests/*.c
cogent/tests/*.h
cogent/tests/*.tmp
cogent/out/
isa-parser/.cabal-sandbox
isa-parser/cabal.sandbox.config
isa-parser/dist
.DS_Store
impl/bilby/cogent/abstract/*.h
impl/bilby/cogent/generated.[ch]
umm_types.txt
*.thy
ROOT
generated.*
*_flymake.hs
.stack-work/
