[submodule "isabelle"]
	path = isabelle
	url = https://github.com/seL4/isabelle.git
  ignore = untracked
[submodule "autocorres"]
	path = autocorres
	url = https://github.com/amblafont/AutoCorres.git
